@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header center">
                <h2>About FEConsole</h2>
            </div>
            <div class="box-body box-profile">
               <img class="profile-user-img img-responsive img-circle" alt="User profile picture" src="../../dist/img/user4-128x128.jpg">
                <p>
                    FEConsole is a easy to use web application, which protect and organize your personal information, valuable memories, knowlege in one place!
                </p>
                <p>
                    FEConsole is also a greate helper for those who are willing to learn and improve themself all their lives.
                </p>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
</div>

<!-- License -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header center">
                A MIT License
            </div>
        </div>
    </div>
</div>

<!--Component-->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Component Name</th>
                            <th style="width:20%;">Version</th>
                            <th style="width:20%;">License</th>
                        </tr>
                        <tr>
                            <td>AdminLTE</td>
                            <td>V2.3.6</td>
                            <td>
                                <div><span class="label label-primary"><i class="fa fa-fw fa-balance-scale"></i> MIT</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td>CKEditor</td>
                            <td>V4</td>
                            <td>
                                <div><span class="label label-primary"><i class="fa fa-fw fa-balance-scale"></i> LGPL</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
