
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <section id="introduction">
                   <h2 class="page-header">Introduction</h2>
                   <p>
                       Welcome to Your personal information management console, content in this page will guide you to use the application more easy.
                       You can always get technical support by contact to the author at linkedin (alphateam.zhang@gmail.com), WeiXin (ksfounder) or kcenter official site.
                       <b class="text-info">This application is Free!</b>
                    </p>
                    <div class="callout callout-warning">
                        <h4>Note</h4>
                        <p>Becareful to click the buttons in the application, in order to </p>
                    </div>
                </section>
                <section id="register">
                    <h2 class="page-header">First Thing First do</h2>
                    <p>
                        <b>Activate license</b> is required to initialize the application, you can get the free license at <a href="#">FEConsole</a>.
                    </p>
                    <p>
                       You are always welcome to the <a href="#">FEConsole</a> for latest updates and get free technical support, and what's more, report a issue and express your feeling about the application.
                    </p>
                </section>
                <section id="setupprofile">
                    <h2 class="page-header">Setup Your Profiles</h2>
                    <p>
                        <b>User Profile</b> is a place to keep your personal information like education, contact information, address and skills in one place.
                    </p>
                    <p>
                        To edit your profile, navigate to "User Management" from the left navigator, then click the <a class="btn btn-primary btn-flat btn-xs ng-scope" href="javascript:void(0);"><i class="fa  fa-user"></i>Profile</a> button in the "Action" category. 
                        <ul>
                            <li>
                                <b>Edit General Information</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the first category to edit your "Image", "Birth date", "Gender" and "ID", remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.
                            </li>
                            <li>
                                <b>Edit Contact</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the "Contact" category to edit your "Phone", "Email" "QQ", "WeiXin", "Linkedin" and "Twitee" contact account, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.
                            </li>
                            <li>
                                <b>Edit Address</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the "Address" category to edit your contact address, you may have more than one contact address here, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus"></i> Add</button> button to add a new address, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.
                            </li>
                            <li>
                                <b>Edit Education</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the "Education" category to edit your education information, you may have more than one education records in your profile, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus"></i> Add</button> button to add a new education record, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.
                            </li>
                            <li>
                                <b>Edit Skills</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the "Skills" category to edit your personal skills, you may have more than one skill records in your profile, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus"></i> Add</button> button to add new skill record, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change. 
                            </li>
                            <li>
                                <b>Edit Work Experience</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the "Work Experience" category to edit your work experience records, you may have more than one work experience records, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus"></i> Add</button> button to add new work experience record, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change. 
                            </li>
                        </ul>
                    </p>
                </section>
                <section id="picturemanagement">
                    <h2 class="page-header">Manage Your Photos</h2>
                    <p>
                        The growing photo volume vs the limited memory space in smart phone confused me for long time, find a solution to keep my valuable images safe and effciency is the motivation for me to create this application. now you can put all your images
                        on this application, add description for each image in order to recall the exciting moment in future,  create a ablum to organize your images in a group, or share a image to public to enjory your happy moment with all of your friends.
                    </p>
                    <p>Navigate to "Photos" page in the left menu to manage your photos.</p>
                    <h4>Add Photos to System</h4>
                    <p>You have two ways to add a locale image to this application:</p>
                    <ul>
                        <li>
                            <b>Insert</b> Click the <button type="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button> button to add a single locale image to the application, this will allow user to add image description, set share/private flag or change image name as well.
                        </li>
                        <li>
                            <b>Upload</b> Click the <button type="button" class="btn btn-success btn-xs"><i class="fa fa-upload"></i></button> button to import multipule local images to the aplication, all the imported images are marked as "private" by default, no description is added, you can edit the description of the uploaded image later.
                        </li>
                    </ul>
                    <h4>Edit Image</h4>
                    <p>Uploaded images will be ordered by uploaded date, you can make change to each uploaded image:</p>
                    <ul>
                        <li>
                            <b>Edit</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i></button> button to edit the image description, set share/private flag or change image name as well.
                        </li>
                        <li>
                            <b>Delete</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-trash"></i></button> button to delete an imported image from the system.
                        </li>
                        <li>
                            <b>Download</b> Click the <button class="btn btn-box-tool"><i class="fa fa-cloud-download"></i></button> button to get the original image.
                        </li>
                    </ul>
                    <h4>Manage Album</h4>
                    <p>Album is used to catgory the images in small group, click "Album" tab in the "photos management" page, then you will switch to the album management tab.</p>
                    <ul>
                        <li>
                            <b>Create Album</b> Click the <button type="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button> button to add a new Ablum
                        </li>
                        <li>
                            <b>Edit Album</b> Click the <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button> button to edit the album, "album type" is a very imortant parameter, it 
                            controls the layout of the images in this album:
                            <ul>
                                <li><b>Standard List</b> All the image in this album will be shown as card list</li>
                                <li><b>Slide Show</b> All the image will be shown as Carous slide.</li>
                                <li><b>Walter Flow</b> All the image will be displayed in the page</li>
                            </ul>
                            be remember to click <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the album change.
                        </li>
                        <li>
                            <b>Delete Album</b> Click the <button class="btn btn-default btn-xs" type="button"><i class="fa fa-trash"></i></button> button to delete a album.
                            Images in this Album will not be permanent deleted when delete an album, to delete a image, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-trash"></i></button> button on the specific image.
                        </li>
                        <li>
                            <b>Add Image</b> you can either choose existing image to album or upload locale image to album, click the album icon to enter the album contents:
                            <ul>
                                <li><b>Choose Existing Image</b> Click the <button class="btn btn-success btn-xs" type="button" ><i class="fa fa-ellipsis-h"></i> </button> button, then select the images you want to add to this album, then click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save text-green"></i> Confirm</button> button to complete your selection.</li>
                                <li><b>Import Locale Image</b> Click the <button class="btn btn-success btn-xs" type="button"><i class="fa fa-upload"></i></button> button, then select your local images in the file selector.</li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <section id="posts">
                    <h2 class="page-header">Manage Your Posts</h2>
                    <p>How time flies! You must have something to write, they might be feelings of life, technical summary, a poem, interesting ideas etc. put them together here and then decide to share it to your friends or keep it privacy.</p>
                    <h4>Create a Group</h4>
                    <p>It's always a better practice to create groups to organize your posts, to create post category, From the left menu, navigate to page "Efficiency"->"Posts".</p>
                    <p>In the "Post Management" page, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus text-primary"></i> Add Group</button> button, then input the group name and click <button class="btn btn-primary btn-flat btn-xs" id="add-new-event" type="button"><i class="fa fa-save"></i></button> to create a new group, to cancel the change, just click <button class="btn btn-primary btn-flat btn-xs" id="cancel-new-event" type="button"><i class="fa fa-close"></i></button> instead.</p>
                    <h4>Edit a Group</h4>
                    <p>Switch to the group to be edited by click the group tab, then click <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil text-blue"></i> Edit Group</button> button, change the group name and click <button class="btn btn-primary btn-flat btn-xs" id="add-new-event" type="button"><i class="fa fa-save"></i></button> to save the change.</p>
                    <h4>Delete a Group</h4>
                    <p>Switch to the group to be deleted by click the group tab, then click <button class="btn btn-box-tool" type="button"><i class="fa fa-trash text-red"></i> Delete Group</button> to delete the group. Note that the posts under this group will not be deleted, they will move to the default group.</p>
                    <h4>Create a Post</h4>
                    <p>
                        navigate to "Post Management" page from left menu "Efficiency"->"Posts", click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus text-green"></i> New Post</button> button, input all the fields of the new post, click the <button class="btn btn-success btn-xs" type="button"><i class="fa fa-save"></i> Save</button> button to save the post change.
                    </p>
                    <p>
                        post content is supposed to be created in a WYSIWYG editor, it's a easy to use web editor who can also copy content from Microsoft Office Word. you can set "Shared" flag if you want to share your post to public, by doing that the post will shown on your personal portal.
                    </p>
                    <h4>Operate a Post</h4>
                    <p>User can also edit, preview and delete a post as they need. For a given post listed in the "post management" page:</p>
                    <ul>
                        <li><b>Edit</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil text-primary"></i> Edit</button> button to edit a post.</li>
                        <li><b>Preview</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-search text-primary"></i> View</button> button to preview the post content, you can also print the post in the preview page.</li>
                        <li><b>Delete</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-trash text-primary"></i> Delete</button> button to delete a post.</li>
                    </ul>
                </section>
                <section id="diary">
                    <h2 class="page-header">Manage Your Diary</h2>
                    <p>
                        I believe a lot of people like to write diary, or at least people know that they benifits a lot when they create a diary, if not, you can find all kinds of reasons why one should write diary on internet.
                        You are lucky that this application is also a great helper to manage your diaries.
                    </p>
                    <p>Your diaries in the system will be keep as private, no body except you can saw your diary in the system. all the diaries in the system is organized in time sequence order.</p>
                    <h4>Create a Diary</h4>
                    <p>Navigate to "Efficiency"->"Diary" from left menu, you will see the "Diary Management" page. On the "Diary Management" page, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus text-green"></i> New Diary</button> button to create a new diary. diary content editor is also a web editor, You can copy content from Microsoft Word as well.</p>
                    <h4>Operate a Diary</h4>
                    <ul>
                        <li><b>Edit</b> click the <button class="btn btn-success btn-xs"><i class="fa fa-pencil"></i> Edit</button> button to edit the diary.</li>
                        <li><b>Delete</b> click the <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</button> button to delete the diary.</li>
                    </ul>
                </section>
                <section id="taskandtarget">
                    <h2 class="page-header">Task management</h2>
                    <p class="lead">
                    </p>
                </section>
                <section id="contactmanagement">
                    <h2 class="page-header">Contact Management</h2>
                    <p class="lead">
                    </p>
                </section>
                <section id="books">
                    <h2 class="page-header">Manage Your Books</h2>
                    <p class="lead">
                    </p>
                </section>
                <section id="files">
                    <h2 class="page-header">Manage Your Files</h2>
                    <p class="lead">
                    </p>
                </section>
                <section id="credentials">
                    <h2 class="page-header">Manage Your Credentials</h2>
                    <p class="lead">
                    </p>
                </section>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
