
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <section id="introduction">
                   <h2 class="page-header"><i class="fa fa-info"></i> General Introduction</h2>
                   <p>
                       Welcome to Your personal information management console, content in this page will guide you to use the application more easy.
                       You can always get technical support by contact the author via e-mail <span class="label label-success"><i class="fa fa-envelope-o"></i> alpha_executive@126.com</span>, linkedin <span class="label label-success"><i class="fa fa-linkedin-square"></i> alphateam.zhang@gmail.com</span> or WeiXin <span class="label label-success"><i class="fa fa-weixin"></i> ksfounder</span>.
                    </p>
                    <div class="callout callout-warning">
                        <h4>Warning</h4>
                        <p>This application is Free, but you are still required to get a free licence from the offical site to initialize your application, try to learn the system features before you do a real functional action.</p>
                        <p>Request new license every year can help you to identify the new updates of the application.</p>
                    </div>
                </section>
                <section id="register">
                    <h2 class="page-header"><i class="fa fa-balance-scale"></i> First Thing First</h2>
                    <p>
                        <b>Activate license</b> is required to initialize the application, you can get the free license at <a href="#">FEConsole</a>.
                    </p>
                    <p>
                       You are always welcome to the <a href="#">FEConsole</a> for latest updates and get free technical support, and what's more, report a issue and express your feeling about the application.
                    </p>
                    <p><b>Initialize the Application</b> by the free license you get from the FEConsole site, you need to navigate to the "System"->"License Management" page, then click the <button class="btn btn-xs">Upload Your License</button> button to apply the license to the system.</p>
                </section>
                <section id="setupprofile">
                    <h2 class="page-header"><i class="fa fa-user"></i> Setup Your Profiles</h2>
                    <p>
                        <b>User Profile</b> is a place to keep your personal information like education, contact information, address and skills in one place.
                    </p>
                    <p>
                        To edit your profile, navigate to "User" from the left navigator, then click the <button class="btn btn-primary btn-flat btn-xs"><i class="fa  fa-user"></i>Profile</button> button in the "Action" category. 
                        <ul>
                            <li>
                                <b>Edit General Information</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the first category to edit your "Image", "Birth date", "Gender" and "ID", remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.
                            </li>
                            <li>
                                <b>Edit Contact</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the "Contact" category to edit your "Phone", "Email" "QQ", "WeiXin", "Linkedin" and "Twitee" contact account, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.
                            </li>
                            <li>
                                <b>Edit Address</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the "Address" category to edit your contact address, you may have more than one contact address here, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus"></i> Add</button> button to add a new address, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.
                            </li>
                            <li>
                                <b>Edit Education</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the "Education" category to edit your education information, you may have more than one education records in your profile, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus"></i> Add</button> button to add a new education record, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.
                            </li>
                            <li>
                                <b>Edit Skills</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the "Skills" category to edit your personal skills, you may have more than one skill records in your profile, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus"></i> Add</button> button to add new skill record, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change. 
                            </li>
                            <li>
                                <b>Edit Work Experience</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i> Edit</button> button in the "Work Experience" category to edit your work experience records, you may have more than one work experience records, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus"></i> Add</button> button to add new work experience record, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change. 
                            </li>
                        </ul>
                    </p>
                </section>
                <section id="picturemanagement">
                    <h2 class="page-header"><i class="fa fa-picture-o"></i> Manage Your Photos</h2>
                    <p>
                        The growing photo volume vs the limited memory space in smart phone confused me for long time, find a solution to keep my valuable images safe and effciency is the motivation for me to create this application. now you can put all your images
                        on this application, add description for each image in order to recall the exciting moment in future,  create a ablum to organize your images in a group, or share a image to public to enjory your happy moment with all of your friends.
                    </p>
                    <p>Navigate to "Photos" page in the left menu to manage your photos.</p>
                    <h4>Add Photos to System</h4>
                    <p>You have two ways to add a locale image to this application:</p>
                    <ul>
                        <li>
                            <b>Insert</b> Click the <button type="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button> button to add a single locale image to the application, this will allow user to add image description, set share/private flag or change image name as well.
                        </li>
                        <li>
                            <b>Upload</b> Click the <button type="button" class="btn btn-success btn-xs"><i class="fa fa-upload"></i></button> button to import multipule local images to the aplication, all the imported images are marked as "private" by default, no description is added, you can edit the description of the uploaded image later.
                        </li>
                    </ul>
                    <h4>Edit Image</h4>
                    <p>Uploaded images will be ordered by uploaded date, you can make change to each uploaded image:</p>
                    <ul>
                        <li>
                            <b>Edit</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i></button> button to edit the image description, set share/private flag or change image name as well.
                        </li>
                        <li>
                            <b>Delete</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-trash"></i></button> button to delete an imported image from the system.
                        </li>
                        <li>
                            <b>Download</b> Click the <button class="btn btn-box-tool"><i class="fa fa-cloud-download"></i></button> button to get the original image.
                        </li>
                    </ul>
                    <h4>Manage Album</h4>
                    <p>Album is used to category the images in small group, click "Album" tab in the "photos management" page, then you will switch to the album management tab.</p>
                    <ul>
                        <li>
                            <b>Create Album</b> Click the <button type="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button> button to add a new Ablum
                        </li>
                        <li>
                            <b>Edit Album</b> Click the <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button> button to edit the album, "album type" is a very important parameter, it 
                            controls the layout of the images in this album:
                            <ul>
                                <li><b>Standard List</b> All the image in this album will be shown as card list</li>
                                <li><b>Slide Show</b> All the image will be shown as Carous slide.</li>
                                <li><b>Walter Flow</b> All the image will be displayed on the page one after another.</li>
                            </ul>
                            be remember to click <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the album change.
                        </li>
                        <li>
                            <b>Delete Album</b> Click the <button class="btn btn-default btn-xs" type="button"><i class="fa fa-trash"></i></button> button to delete a album.
                            Images in this Album will not be permanent deleted when delete an album, to delete a image, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-trash"></i></button> button on the specific image.
                        </li>
                        <li>
                            <b>Add Image</b> you can either choose existing image to album or upload locale image to album, click the album icon to enter the album contents:
                            <ul>
                                <li><b>Choose Existing Image</b> Click the <button class="btn btn-success btn-xs" type="button" ><i class="fa fa-ellipsis-h"></i> </button> button, then select the images you want to add to this album, then click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save text-green"></i> Confirm</button> button to complete your selection.</li>
                                <li><b>Import Locale Image</b> Click the <button class="btn btn-success btn-xs" type="button"><i class="fa fa-upload"></i></button> button, then select your local images in the file selector.</li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <section id="posts">
                    <h2 class="page-header"><i class="fa  fa-lightbulb-o"></i> Manage Your Posts</h2>
                    <p>How time flies! You must have something to write, they might be feelings of life, technical summary, a poem, interesting ideas etc. put them together here and then decide to share it to your friends or keep it as private.</p>
                    <h4>Create a Group</h4>
                    <p>It's always a better practice to create groups to organize your posts, to create post category, From the left menu, navigate to page "Efficiency"->"Posts".</p>
                    <p>In the "Post Management" page, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus text-primary"></i> Add Group</button> button, then input the group name and click <button class="btn btn-primary btn-flat btn-xs" id="add-new-event" type="button"><i class="fa fa-save"></i></button> to create a new group, to cancel the change, just click <button class="btn btn-primary btn-flat btn-xs" id="cancel-new-event" type="button"><i class="fa fa-close"></i></button> instead.</p>
                    <h4>Edit a Group</h4>
                    <p>Switch to the group to be edited by click the group tab, then click <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil text-blue"></i> Edit Group</button> button, change the group name and click <button class="btn btn-primary btn-flat btn-xs" id="add-new-event" type="button"><i class="fa fa-save"></i></button> to save the change.</p>
                    <h4>Delete a Group</h4>
                    <p>Switch to the group to be deleted by click the group tab, then click <button class="btn btn-box-tool" type="button"><i class="fa fa-trash text-red"></i> Delete Group</button> to delete the group. Note that the posts under this group will not be deleted, they will move to the default group.</p>
                    <h4>Create a Post</h4>
                    <p>
                        navigate to "Post Management" page from left menu "Efficiency"->"Posts", click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus text-green"></i> New Post</button> button, input all the fields of the new post, click the <button class="btn btn-success btn-xs" type="button"><i class="fa fa-save"></i> Save</button> button to save the post change.
                    </p>
                    <p>
                        post content is supposed to be created in a WYSIWYG editor, it's a easy to use web editor who can also copy content from Microsoft Office Word. you can set "Shared" flag if you want to share your post to public, by doing that the post will shown on your personal portal.
                    </p>
                    <h4>Operate a Post</h4>
                    <p>User can also edit, preview and delete a post as they need. For a given post listed in the "post management" page:</p>
                    <ul>
                        <li><b>Edit</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil text-primary"></i> Edit</button> button to edit a post.</li>
                        <li><b>Preview</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-search text-primary"></i> View</button> button to preview the post content, you can also print the post in the preview page.</li>
                        <li><b>Delete</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-trash text-primary"></i> Delete</button> button to delete a post.</li>
                    </ul>
                </section>
                <section id="diary">
                    <h2 class="page-header"><i class="fa  fa-edit"></i> Manage Your Diary</h2>
                    <p>
                        I believe a lot of people like to write diary, or at least people know that they benifits a lot when they create a diary, if not, you can find all kinds of reasons why one should write diary on internet.
                        You are lucky that this application is also a great helper to manage your diaries.
                    </p>
                    <p>Your diaries in the system will be keep as private, no body except you can saw your diary in the system. all the diaries in the system is organized in time sequence order.</p>
                    <h4>Create a Diary</h4>
                    <p>Navigate to "Efficiency"->"Diary" from left menu, you will see the "Diary Management" page. On the "Diary Management" page, click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus text-green"></i> New Diary</button> button to create a new diary. diary content editor is also a web editor, You can copy content from Microsoft Word as well.</p>
                    <h4>Operate a Diary</h4>
                    <ul>
                        <li><b>Edit</b> click the <button class="btn btn-success btn-xs"><i class="fa fa-pencil"></i> Edit</button> button to edit the diary.</li>
                        <li><b>Delete</b> click the <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</button> button to delete the diary.</li>
                    </ul>
                </section>
                <section id="taskandtarget">
                    <h2 class="page-header"><i class="fa fa-lightbulb-o"></i> Task Management</h2>
                    <p>
                        "By failing to prepare, you are preparing to fail." - Benjamin Franklin. If you are already understood the power of a personal development plan, the FEConsole application 
                        can also help to manage your personal goals and tasks.
                    </p>
                    <p>
                        A target (goal) in the system is used to organize a collection of tasks that aimed at the same goal, to create or edit tasks, you must edit target (goal) firstly. 
                    </p>
                    <p>To manage target and task in the system, navigate to "Effeciency"->"Task" from the left menu.</p>
                    <h4>Create a Target</h4>
                    <p>In the "task management" page, click the <button type="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button> button to create target (goal), and remember to click <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the new created target.</p>
                    <h4>Operate a Target</h4>
                    <ul>
                        <li><b>Edit</b> Click the <a class="btn btn-box-tool"><i class="fa fa-pencil"></i></a> button on the specific target.</li>
                        <li><b>Delete</b> Click the <a class="btn btn-box-tool"><i class="fa fa-trash"></i></a> button on the specific target, note that all the tasks related to this target will be deleted as well.</li>
                        <li><b>Show Task</b> Click the <a class="btn btn-box-tool"><i class="fa fa-tasks"></i></a> button on the specific target, user can also click the "flag" icon of the target to show the task list of the target.</li>
                    </ul>
                    <h4>Create a Task</h4>
                    <p>A task should always be in a target (goal), to create a task, first show all the task of the specific target, then click the <button type="button" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button> button to create a task, remember to click <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the new created task.</p>
                    <h4>Operate a Task</h4>
                    <ul>
                        <li><b>Increase Task</b> click the <button type="button" class="btn btn-primary btn-flat btn-xs"><i class="fa fa-forward"></i></button> button to increase the task progress.</li>
                        <li><b>Complete Task</b> click the <button type="button" class="btn btn-success btn-flat btn-xs"><i class="fa fa-stop"></i></button> button to complete the task.</li>
                        <li><b>Edit Task</b> click the <button type="button" class="btn btn-primary btn-flat btn-xs"><i class="fa fa-pencil"></i></button> button to edit the task.</li>
                        <li><b>Delete Task</b> click the <button type="button" class="btn btn-warning btn-flat btn-xs"><i class="fa fa-trash"></i></button> button to delete a task.</li>
                    </ul>
                    <h4>List all the Task</h4>
                    <p>To manage the tasks in the system, user can switch to the "Task" panel in the "task management" page. all the task operate actions is available in the task list view.</p>
                    <p>The recent 5 tasks will be shown on the toolbar of the application.</p>
                </section>
                <section id="contactmanagement">
                    <h2 class="page-header"><i class="fa fa-phone-square"></i> Contact Management</h2>
                    <p>
                        Eventhrough you have smart phone to store most of your contact information, but the smart phone is not always a safe way to 
                        store the valuable contact information, many people complaint that some close friends lost connection when he/she got the phone lost. what's more, the information 
                        in the smart phone contact list is not rich enough to describe the details of a contact, but a ERP system may too heavy for you, so the contact management moudle in 
                        FEConsole application is right here to help you manage your contacts, it can help to record the basic information, address, phone number, skills, image and other social communicataion numbers of each contactor.
                    </p>
                    <h4>Add a new Contact</h4>
                    <p>
                        Navigate to the "Contacts" page from the left menu item "contacts", then click <button class="btn btn-box-tool"><i class="fa fa-plus text-green"></i> New Contact</button> button to add a new contact. Edit the contact information can be same as to edit a
                        user profile, for more details, please refer to <b>Setup Your Profiles</b>
                    </p>
                    <h4>Operate a Contact</h4>
                    <ul>
                        <li><b>View/Edit</b> click the button <button class="btn btn-flat btn-primary btn-xs"><i class="fa fa-user"></i></button> to view or edit a user profile.</li>
                        <li><b>Delete</b> click the button <button class="btn btn-flat btn-warning btn-xs"><i class="fa fa-trash"></i></button> to delete a contact.</li>
                    </ul>
                </section>
                <section id="books">
                    <h2 class="page-header"><i class="fa fa-book"></i> Manage Your Books</h2>
                    <p>
                        It's always be a great moment when you read a book, more and more paper books were published as electronic version, you many encounter the same problem as me to 
                        manage a lot of electronic books, some of that are not even been read at all when have it forgot. "Book Management" of this application can help you to oganize your faivorate books 
                        effectively, the book category and list view will help you to find your wanted books quickly. 
                    </p>
                    <h4>Book Gallary</h4>
                    <p>Strongly recommend you to create gallaries to organize your books, by this, you can filter your books quickly with the selected category.</p>
                    <ul>
                        <li><b>Create</b> on the "Book Galary" toolbar, click the button <button class="btn btn-box-tool" type="button"><i class="fa fa-plus"></i></button> to add a new book gallary, remember to click the <button class="btn btn-primary btn-flat btn-xs" id="add-new-event" type="button"><i class="fa fa-save"></i></button> button to save the gallary.</li>
                        <li><b>Edit</b> Select the gallary to be edited, then click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil"></i></button> button on the "book gallary" toolbar, change the category name in the textbox and click the the <button class="btn btn-primary btn-flat btn-xs" id="add-new-event" type="button"><i class="fa fa-save"></i></button> button to save the changes.</li>
                        <li><b>Delete</b> Select the gallary to be deleted, then click the <button class="btn btn-box-tool" type="button"><i class="fa fa-trash"></i></button> button on the "book gallary" toolbar. Be remember that delete a category will not delete the books under this gallary, all the books will be shift to the default gallary.</li>
                    </ul>
                    <h4>Add New Book</h4>
                    <p>In case of no gallary is selected, the new book will added to default book gallary, so you'd better to select a target book gallary firstly before add a new book, then click the <button class="btn btn-box-tool" type="button"><i class="fa fa-file text-green"></i> +Book</button> button to add a new book.</p>
                    <h4>Operate a book</h4>
                    <p>for any given book instance in the list, you can perform edit or delete operation.</p>
                    <ul>
                        <li><b>Edit</b> click the <button class="btn btn-box-tool" type="button"><i class="fa fa-pencil text-primary"></i></button> button of the book instance, update the book information on the editing page.</li>
                        <li><b>Delete</b> click the <button class="btn btn-box-tool" type="button"><i class="fa fa-trash text-primary"></i></button> button of the book instance to delete a book, note that the book will be deleted permantly from the system.</li>
                    </ul>
                </section>
                <section id="files">
                    <h2 class="page-header"><i class="fa fa-folder"></i> Manage Your Files</h2>
                    <p>
                        I believe that you have many files in this information world, most of them are very important, Windows resource manager is always a classic way to store and manage your files,
                        but a light-weight file management tool that available to all kinds of devices through browser is the idea way to manage and share your personal documents. "Documents management" module of this application
                        is the right here to manage your files.
                    </p>
                    <h4>Folders</h4>
                    <p>
                        As what you can do in "Windows Resource Manager", you can create folders to group your files. for the folder, you can:
                    </p>
                    <ul>
                        <li><b>Create</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-folder text-green"></i>  +Folder</button> button on the top toolbar to add a new folder to the current path, input the folder name and click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the new folder.</li>
                        <li><b>Edit</b> Click the <button class="btn btn-primary btn-flat btn-xs" type="button"><i class="fa fa-pencil"></i></button> button to edit a folder, again, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.</li>
                        <li><b>Delete</b> Click the <button class="btn btn-warning btn-flat btn-xs" type="button"><i class="fa fa-trash"></i></button> button to delete a folder, note that all the children file and folder will be deleted as well.</li>
                        <li><b>Navigate</b> by a single click will navigate into the specific folder, a navigate path is shown on the right top of the page, you can navigate back to the parents folders by click folder name in the navigate path.</li>
                    </ul>
                    <h4>Files</h4>
                    <p>
                        In the system, you can add new files, download, edit or delete a existing file. A new created file will be placed to the current navigate path, if no folder is selected or created, the file will placed to the "Home" of the system.
                    </p>
                    <h4>Operate a File</h4>
                    <ul>
                        <li><b>Create</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-file text-green"></i> +Document</button> button on the left top toolbar, then upload the document/file from local to the system, when have all the required information filled, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the new file.</li>
                        <li><b>Edit</b> On the target file, click the <button class="btn btn-flat btn-xs" type="button"><i class="fa fa-pencil"></i></button> button to edit a file, remember to click the <button class="btn btn-box-tool" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.</li>
                        <li><b>Delete</b> On the target file, click the <button class="btn btn-flat btn-xs" type="button"><i class="fa fa-trash"></i></button> button to delete that file.</li>
                        <li><b>Download</b> On the target file, either click the file name directly or click the <button class="btn btn-flat btn-xs"><i class="fa fa-cloud-download"></i></button> button to download a file.</li>
                    </ul>
                    <h4>Content View</h4>
                    <p>Folders and Files can either be shown as list view or be shown as grid view, list view is the default view. To swith a view, on the left top toolbar: </p>
                    <ul>
                        <li><b>To List View</b> Click the <button class="btn btn-box-tool"><i class="fa fa-list text-primary"></i> List View</button> button, folder and files will shown as list.</li>
                        <li><b>To Grid View</b> Click the <button class="btn btn-box-tool"><i class="fa fa-th text-primary"></i> Grid View</button> button, folder and files will shown as grid.</li>
                    </ul>
                </section>
                <section id="credentials">
                    <h2 class="page-header"><i class="fa fa-expeditedssl"></i> Manage Your Account</h2>
                    <p>
                        A bad news is that you will have more and more IDs and Passwords in this digital world while your memory getting worse and worse as your age increase.
                        Forget a ID or Password always bring troubble to your life, people need a safe and easy solution to keep their credentials.
                        "Account" in this system is the right solution to help you to keep your credentials, it also provide a encryption software to encrypt your confidential
                        information with RSA encryption method, Of course, you are always free to use other encryption technology to secure your data.
                    </p>
                    <h4>Crypotography Tool</h4>
                    <p>A RSA crypotography tool is ready for you to use to encrypt your password, be note that the encrypt tool is unique for each installation, you should use the same "crypotography tool" installation to decrypt the encrypted data that encrypt it. e.g. if you install a copy of "encrypotogrphy tool" on computer A, with which you get a encrypted string S, if you want to decrypt the S to clear text, you need the exactly copy of the "encrypotography tool" instance to decrypt the string S, so keep the "encrypotography tool" on a security laptop where no internet access or put it in a safe USB Key.</p>
                    <p>Go to "Account" page, click the <button class="btn btn-box-tool btn-xs">Download Crypotography Tool</button> link to download the encryption tool.</p>
                    <h4>Manage Account Record</h4>
                    <ul>
                        <li><b>Create</b> Click the <button class="btn btn-box-tool" type="button"><i class="fa fa-plus"></i> New Record</button> button to add a new account record, Note that eventhrough the password field will be encrypted in system, but it is more safe if you encrypt the password with "Encrypotography tool" or your custom encrypt software.</li>
                        <li><b>Edit</b> Click the <button type="button" class="btn btn-primary btn-flat btn-xs"><i class="fa fa-pencil"></i></button> button to edit  a account record.</li>
                        <li><b>Show/Hide Password</b> Click the <button class="btn btn-success btn-flat btn-xs"><i class="fa fa-unlock"></i></button> button to show the password, if you encrypt the password with encrypotography tool or custom encryption software, you should decrypt the password text with those software to get the clear text. Click the <button class="btn btn-success btn-flat btn-xs"><i class="fa fa-lock"></i></button> button to hide the password.</li>
                        <li><b>Delete</b> Click the <button type="button" class="btn btn-warning btn-flat btn-xs"><i class="fa fa-trash"></i></button> button to delete a account record.</li>
                    </ul>
                </section>
                <section id="data">
                    <h2 class="page-header"><i class="fa fa-diamond"></i> Manage Your Structured Data</h2>
                    <p>
                        People like the structured data, that's why Excel is so popular, it is great if there is a light-weight web-based application to allow user to store their structured data, "Data" module in FEConsole is here to archive this goal, it allows user to design their own structured table.
                        Note that this feature is mainly for those user who are familiar with data table design or structured data process, don't use it if you are not familiar with structured data.
                    </p>
                    <h4>Custom Table Group</h4>
                    <p>Custom table in the system must be created in a table group, to create or edit a custom group, go to "Data"->"Custom Table Group", then click the "Add" group card to add a new group.</p>
                    <h4>Custom Table</h4>
                    <p>Custom table is user designed table structure, it can contains any number of columns, each column is supposed to be a given data type, system provide rich kinds of data types for choose, it can be string, number, integer, single choice, file or object reference type.</p>
                    <h4>Create Custom Table</h4>
                    <p>Go to "Data"->"Custom Table", click and select a custom table group in the "custom table group" list, then click <a class="btn btn-social-icon btn-success btn-xs" href="javascript:void(0);"><i class="fa fa-plus"></i></a> button to lauch custom table design user interface, provide a unique table name,
                    a unique table key code, and click dropdown button <span class="btn btn-warning btn-xs" type="button"><i class="fa fa-plus"></i> Add</span> to add custom columns, define column name and column key code for each customized column, then click <button class="btn btn-box-tool btn-xs" type="button"><i class="fa fa-save"></i> Save</button> button to save the new created table.</p>
                    <h4>Operate a Cutom Table</h4>
                    <ul>
                        <li><b>Edit</b> Click the <a class="btn btn-box-tool" href="javascript:void(0);"><i class="fa fa-edit"></i> Edit</a> button on the target custom table to switch to the edit user interface, update the table or columns and click <button class="btn btn-box-tool btn-xs" type="button"><i class="fa fa-save"></i> Save</button> button to save the change.</li>
                        <li><b>Delete</b> Expand the table properties by click <button class="btn btn-xs" type="button"><i class="fa fa-expand"></i></button> button on the target table, then click <button class="btn btn-box-tool"><i class="fa fa-trash"></i> Delete</button> button to delete the custom table, Note that all the table data stored in this custom table will be deleted as well.</li>
                    </ul>
                    <h4>Operate on Custom Table Data</h4>
                    <p>Go to "Data"->"Custom Table Data" to operate on the custom table data.</p>
                    <ul>
                        <li><b>New Table Data Record</b> select the target "custom table" from the dropdown list, then click <button title="Add Table Data" class="btn btn-box-tool btn-xs" type="button"><i class="fa fa-plus text-green"></i></button> to lauch the data input user interface, input the "name" field and other user defined column field, then click <button class="btn btn-box-tool btn-xs"><i class="fa fa-save"></i> Save</button> button to add a new record.</li>
                        <li><b>Edit Table Data Record</b> select the target "cutom table" from the dropdown list, then find the target table data record and click <button class="btn btn-primary btn-flat btn-xs" type="button"><i class="fa fa-pencil"></i> Edit</button> button to edit the data, remember to click <button class="btn btn-box-tool btn-xs"><i class="fa fa-save"></i> Save</button> button to save the change.</li>
                        <li><b>Delete Table Data Record</b> select the target "custom table" from the dropdown list, find the target table data record and click <button class="btn btn-warning btn-flat btn-xs" type="button"><i class="fa fa-minus-square"></i> Delete</button> button to delete a table data record. </li>
                        <li><b>View Table Data Record</b> select the target "custom table" from the dropdown list, find the target table data record and click  <button class="btn btn-success btn-flat btn-xs" type="button"><i class="fa fa-eye"></i> View</button> button to see the table data record.</li>
                    </ul>
                </section>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
