@{ 
    ViewBag.Title = "FEConsole";
}
<div class="row" ng-app="ngObjectRepository" ng-controller="DashboardController as ctrl">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-lightbulb-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">TOTAL POSTS</span>
                        <span class="info-box-number" ng-bind="ctrl.totalPostCount"></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-image"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">TOTAL IMAGES</span>
                        <span class="info-box-number" ng-bind="ctrl.totalPhotosCount"></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">TOTAL CONTACTS</span>
                        <span class="info-box-number" ng-bind="ctrl.totalContactsCount"></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-book"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">TOTAL BOOKS</span>
                        <span class="info-box-number" ng-bind="ctrl.totalBooksCount"></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="taskstatusreport" class="dashboard-report"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="objusagestatusreport" class="dashboard-report"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 table-responsive">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-lightbulb-o"></i> Posts</h3>
                    </div>
                    <div class="box-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Date</th>
                                </tr>
                                <tr ng-repeat="post in ctrl.posts">
                                    <td>
                                        <a class="product-title article-tilte cursor-pointer" href="javascript:void(0);">
                                            <i class="fa fa-lightbulb-o text-green"></i>  {{post.objectName}}
                                        </a>
                                    </td>
                                    <td><span class="text-muted label label-warning">{{post.createdBy}}</span></td>
                                    <td><span class="text-muted label label-primary"><i class="fa fa-clock-o"></i> {{post.created | dateformatFilter : 'MMM Do YYYY'}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer text-center">
                        <a class="uppercase" href="/ngview/Index/Efficiency/ArticleIndex">View All Posts</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-book"></i> Books</h3>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Version</th>
                                </tr>
                                <tr ng-repeat="book in ctrl.books">
                                    <td>
                                        <a class="product-title article-tilte cursor-pointer" href="{{book.properties.bookFile.fileUrl}}">
                                            <i class="fa fa-book text-red"></i> {{book.objectName}}
                                        </a>
                                    </td>
                                    <td><span class="text-muted label label-warning">{{book.properties.bookAuthor.value}}</span></td>
                                    <td><span class="text-muted label label-primary" ng-if="book.properties.bookVersion.value != null"><i class="fa fa-clock-o"></i> {{book.properties.bookVersion.value}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer text-center">
                        <a class="uppercase" href="/ngview/Index/Books/BookIndex">View All Books</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-image"></i> Latest Images</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2" ng-repeat="img in ctrl.images">
                                <img class="img-responsive" style="width:100%; border-radius:5px;" src="{{img.properties.imageFile.fileUrl}}?thumbinal=true" alt="{{img.objectName}}">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center">
                        <a class="uppercase" href="/ngview/Index/Photos/PhotoIndex">View All Images</a>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="yoyimagereport" class="dashboard-report"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
     @Scripts.Render("~/js/adminapp/dashboard")
     @Scripts.Render("~/js/echarts")
     @Scripts.Render("~/js/apputilities")
}
<script type="text/javascript">
    $(document).ready(function () {
        //Task and Target status guague report
        $.ajax({
            url: "/api/custom/report/TargetStatusReport",
            dataType: "json",
            success: function (data) {
                if (Array.isArray(data) && data.length == 2) {
                    var option = getCarGaugesOption("Target", "Task");
                    option.title.text = 'Average Progress Report';
                    option.title.subtext = 'Target and Task';
                    option.series[0].data[0].value = data[0].toFixed(2);
                    option.series[1].data[0].value = data[1].toFixed(2);

                    createChart(document.getElementById('taskstatusreport'),
                            option,
                            'default'
                        );
                }
            }
        });

        //Key objects statistic bar report.
        $.ajax({
            url: "/api/custom/report/YOYObjectUsageReport/Article,Diary,Books",
            dataType: "json",
            success: function (data) {
                if (Array.isArray(data) && data.length > 0) {
                    var option = getColumnChartOption(getYoYMonths(), ['Post', 'Diary', 'Books']);
                    option.title.text = 'YOY Statics Report';
                    option.title.subtext = 'Post, Diary and Books';
                    option.series.push({
                        name: 'Post',
                        type: 'line',
                        smooth: true,
                        data: data[0],
                        markLine: {
                            data: [
                                { type: 'average', name: 'Average' }
                            ]
                        }
                    });
                    option.series.push({
                        name: 'Diary',
                        type: 'line',
                        smooth: true,
                        data: data[1],
                        markLine: {
                            data: [
                                { type: 'average', name: '平均值' }
                            ]
                        }
                    });
                    option.series.push({
                        name: 'Books',
                        type: 'line',
                        smooth: true,
                        data: data[2],
                        markLine: {
                            data: [
                                { type: 'average', name: '平均值' }
                            ]
                        }
                    });

                    createChart(document.getElementById('objusagestatusreport'),
                            option,
                            'default'
                        );
                }
            }
        });

        //Image YoY Reports.
        $.ajax({
            url: "/api/custom/report/YOYObjectUsageReport/Photos",
            dataType: "json",
            success: function (data) {
                if (Array.isArray(data) && data.length > 0) {
                    var option = getColumnChartOption(getYoYMonths(), ['Images']);
                    option.title.text = 'YOY Statics Report';
                    option.title.subtext = 'Images';
                    option.series.push({
                        name: 'Images',
                        type: 'line',
                        smooth: true,
                        data: data[0],
                        itemStyle: { normal: { areaStyle: { type: 'default' } } },
                        markLine: {
                            data: [
                                { type: 'average', name: 'Average' }
                            ]
                        }
                    });
                    createChart(document.getElementById('yoyimagereport'),
                            option,
                            'default'
                        );
                }
            }
        });
    });
</script>