
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Portal/Views/Shared/_PortalLayout.cshtml";
}

<section id="home" class="padbot0">

    <!-- TOP SLIDER -->
    <div class="flexslider top_slider">
        <ul class="slides">
            <li class="slide1">
                <div class="flex_caption1">
                    <p class="title1 captionDelay2 FromTop">Creative</p>
                    <p class="title2 captionDelay4 FromTop">White</p>
                    <p class="title3 captionDelay6 FromTop">Templates</p>
                    <p class="title4 captionDelay7 FromBottom">The template is suitable for any company and the direction that appreciates style, purity and quality of the web site.</p>
                </div>
            <li class="slide2">
                <div class="flex_caption1">
                    <p class="title1 captionDelay6 FromLeft">Responsive</p>
                    <p class="title2 captionDelay4 FromLeft">Design</p>
                    <p class="title3 captionDelay2 FromLeft">Theme</p>
                    <p class="title4 captionDelay7 FromLeft">The template is suitable for any company and the direction that appreciates style, purity and quality of the web site.</p>
                </div>
            </li>
            <li class="slide3">
                <div class="flex_caption1">
                    <p class="title1 captionDelay1 FromBottom">Amazing</p>
                    <p class="title2 captionDelay2 FromBottom">Video</p>
                    <p class="title3 captionDelay3 FromBottom">Background</p>
                    <p class="title4 captionDelay5 FromBottom">The template is suitable for any company and the direction that appreciates style, purity and quality of the web site.</p>
                </div>
           
                <!-- VIDEO BACKGROUND -->
                @*<a id="P2" class="player" data-property="{videoURL:'tDvBwPzJ7dY',containment:'.top_slider .slide3',autoPlay:true, mute:true, startAt:0, opacity:1}"></a>*@
                <!-- //VIDEO BACKGROUND -->
            </li>
        </ul>
    </div>
    <div id="carousel">
        <ul class="slides">
            <li><img src="/Content/portal/images/slider/slide1_bg.jpg" alt="" /></li>
            <li><img src="/Content/portal/images/slider/slide2_bg.jpg" alt="" /></li>
            <li><img src="/Content/portal/images/slider/slide3_bg.jpg" alt="" /></li>
        </ul>
    </div><!-- //TOP SLIDER -->
</section>

<section class="breadcrumbs_block clearfix parallax">
    <div class="container center">
        <h2><b>The</b> Blog</h2>
        <p>Publication of the latest news, articles, and free apps.</p>
    </div>
</section>

<section id="blog" style="min-height: 494px;">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row">

            <!-- BLOG BLOCK -->
            <div class="blog_block col-lg-12 col-md-12 padbot50">
                <!-- BLOG POST -->
                <div class="blog_post margbot50 clearfix animated fadeInUp" data-animated="fadeInUp">
                    <div class="blog_post_img">
                        <img alt="" src="images/blog/1.jpg">
                        <a class="zoom" href="blog-post.html"></a>
                    </div>
                    <div class="blog_post_descr">
                        <div class="blog_post_date">JANUARY 30 | 21:30</div>
                        <a class="blog_post_title" href="blog-post.html">Rihanna's Costume Designer Comes Into His Own with New Show</a>
                        <ul class="blog_post_info">
                            <li><a href="javascript:void(0);">Admin</a></li>
                            <li><a href="javascript:void(0);">Creative</a></li>
                            <li><a href="javascript:void(0);">3 Comments</a></li>
                        </ul>
                        <hr>
                        <div class="blog_post_content">The best way to describe Adam Selman would be simply to say that he is the epitome of cool. So it’s only fitting that his first runway collection was made for the ultimate cool girl.</div>
                        <a class="read_more_btn" href="blog-post.html">Read More</a>
                    </div>
                </div><!-- //BLOG POST -->
                <!-- PAGINATION -->
                <ul class="pagination clearfix">
                    <li><a href="javascript:void(0);">1</a></li>
                    <li><a href="javascript:void(0);">2</a></li>
                    <li class="active"><a href="javascript:void(0);">3</a></li>
                    <li><a href="javascript:void(0);">4</a></li>
                    <li><a href="javascript:void(0);">5</a></li>
                    <li><a href="javascript:void(0);">. . .</a></li>
                    <li><a href="javascript:void(0);">75</a></li>
                </ul><!-- //PAGINATION -->
            </div><!-- //BLOG BLOCK -->
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</section>
