
<section id="home" class="padbot0">
    <!-- TOP SLIDER -->
    <div class="flexslider top_slider">
        <ul class="slides">
            <li class="slide1 slide1-cn">
                <div class="flex_caption1">
                    <p class="title1 captionDelay2 FromTop">发布</p>
                    <p class="title2 captionDelay4 FromTop">创新</p>
                    <p class="title3 captionDelay6 FromTop">文章</p>
                    <p class="title4 captionDelay7 FromBottom">Why not share your creative idea in posts, this application open a window from your deep heart.</p>
                </div>
            <li class="slide2 slide2-cn">
                <div class="flex_caption1">
                    <p class="title1 captionDelay6 FromLeft">展示</p>
                    <p class="title2 captionDelay4 FromLeft">奇妙</p>
                    <p class="title3 captionDelay2 FromLeft">图片</p>
                    <p class="title4 captionDelay7 FromLeft">May you like to record the beauty of the world with camara, the application is right here to share some of them.</p>
                </div>
            </li>
            <li class="slide3 slide3-cn">
                <div class="flex_caption1">
                    <p class="title1 captionDelay1 FromBottom">推荐</p>
                    <p class="title2 captionDelay2 FromBottom">珍贵</p>
                    <p class="title3 captionDelay3 FromBottom">书籍</p>
                    <p class="title4 captionDelay5 FromBottom">Recommending the valuable books that you like most and discuss your feelings with friends.</p>
                </div>

                <!-- VIDEO BACKGROUND -->
                @*<a id="P2" class="player" data-property="{videoURL:'tDvBwPzJ7dY',containment:'.top_slider .slide3',autoPlay:true, mute:true, startAt:0, opacity:1}"></a>*@
                <!-- //VIDEO BACKGROUND -->
            </li>
        </ul>
    </div>
    <div id="carousel">
        <ul class="slides">
            <li><img src="/Content/portal/images/slider/slide1_bg_cn.png" alt="" /></li>
            <li><img src="/Content/portal/images/slider/slide2_bg_cn.png" alt="" /></li>
            <li><img src="/Content/portal/images/slider/slide3_bg_cn.jpg" alt="" /></li>
        </ul>
    </div><!-- //TOP SLIDER -->
</section>