
@{
    ViewBag.Title = "User Management";
}

<div ng-app="ngObjectRepository" class="box box-info" ng-controller="UserController as ctrl">
    <div class="box-header with-border">
        <h3 class="box-title">@ViewBag.Title</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in ctrl.users">
                        <td>{{user.id}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.email}}</td>
                        <td><span class="label label-success">Active</span></td>
                        <td>
                            <button type="button" class="btn btn-primary btn-flat btn-xs" ng-click="ctrl.ResetPassword(user)">
                                <i class="fa  fa-refresh"></i>
                                Reset password
                            </button>
                            <a class="btn btn-primary btn-flat btn-xs" href="/ngView/EditOrDisplay/SystemUsers/UserProfileIndex/{{user.id}}">
                                <i class="fa  fa-user"></i>
                                Profile
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
       
    </div>
    <!-- /.box-footer -->
</div>
@section Scripts {
    @Scripts.Render("~/js/adminapp/sysusers")
}