@{
    ViewBag.Title = "User Profile";
}

<div class="row">
    <div class="col-md-12" ng-app="ngObjectRepository" ng-controller="UserProfileController as ctrl">
        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile" ng-if="!ctrl.isEditBasicInfo">
                <img ng-if="ctrl.basicinfo.properties.Image.fileUrl != null" style="height:150px; width:150px;" class="profile-user-img img-responsive img-circle" alt="User profile picture" src="{{ctrl.basicinfo.properties.Image.fileUrl}}">
                <div ng-if="ctrl.basicinfo.properties.Image.fileUrl == null" class="profile-user-img img-responsive img-circle">
                    <i class="ion ion-person-add"></i>
                </div>
                <h3 class="profile-username text-center">{{ctrl.basicinfo.properties.firstName.value}}, {{ctrl.basicinfo.properties.lastName.value}}</h3>
                <div class="row">
                    <div class="col-md-4">
                        <strong><i class="fa fa-birthday-cake margin-r-5"></i> Birth Date</strong>
                        <p class="text-muted">
                            {{ctrl.basicinfo.properties.birthDate.value}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-genderless margin-r-5"></i> Gender</strong>
                        <p class="text-muted">
                            {{ctrl.basicinfo.properties.gender.value}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-barcode margin-r-5"></i> ID</strong>
                        <p class="text-muted">
                            {{ctrl.basicinfo.properties.ID.value}}
                        </p>
                    </div>
                </div>
                <ul class="list-inline">
                    <li class="pull-right">
                        <button class="btn btn-box-tool" type="button" ng-click="ctrl.onBasicInfoEditing()"><i class="fa fa-pencil"></i> Edit</button>
                    </li>
                </ul>
            </div>

            <form class="form-horizontal" ng-if="ctrl.isEditBasicInfo">
                <div class="box-body box-primary">
                    <div class="form-group">
                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.basicinfo.properties.firstName.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            <i class="fa fa-tag"></i> Last Name
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.basicinfo.properties.lastName.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            <i class="fa fa-tag"></i> Birth Date
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control field-datepicker" ng-model="ctrl.basicinfo.properties.birthDate.value" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            <i class="fa fa-tag"></i> ID
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.basicinfo.properties.ID.value" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            <i class="fa fa-tag"></i> Gender
                        </label>
                        <div class="col-sm-10">
                            <div class="form-control">
                                <input type="radio" ng-model="ctrl.basicinfo.properties.gender.value" ng-value="0" ng-checked="ctrl.basicinfo.properties.gender.value == 0" /> Male
                                <input type="radio" ng-model="ctrl.basicinfo.properties.gender.value" ng-value="1" ng-checked="ctrl.basicinfo.properties.gender.value == 1" /> FeMale
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-warning" type="file" ngf-select="ctrl.uploadFiles($file, $invalidFiles,ctrl.basicinfo.properties.Image)" ngf-max-height="1000" ngf-max-size="10MB">
                                <i class="fa fa-upload"></i> Upload Image <i class="fa fa-refresh fa-spin text-green" ng-if="ctrl.f.showprogress"></i>
                            </button><span class="message">{{ctrl.errorMsg}}</span>
                            <br />
                            <br />
                            <div class="info-box" ng-if="ctrl.basicinfo.properties.Image.fileName != null">
                                <a class="info-box-icon bg-aqua" href="{{ctrl.basicinfo.properties.Image.fileUrl}}"><i class="fa fa-cloud-download"></i></a>
                                <div class="info-box-content text-black">
                                    <span class="info-box-text">{{ ctrl.basicinfo.properties.Image.fileName }}</span>
                                    <span class="info-box-number">{{ctrl.basicinfo.properties.Image.fileSize}} KB</span>
                                    <span class="info-box-text">SHA: {{ctrl.basicinfo.properties.Image.fileCRC}}</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                    </div>
                    <ul class="list-inline">
                        <li class="pull-right">
                            <button class="btn btn-box-tool" type="button" ng-click="ctrl.saveUserinfo()"><i class="fa fa-save"></i> Save</button>
                        </li>
                    </ul>
                    <script type="text/javascript">
                        $(function () {
                            $(".field-datepicker").datepicker({
                               autoclose : true
                            })
                        });
                    </script>
                </div>
            </form>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- Contact Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-phone margin-r-5"></i> Contact</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" ng-if="!ctrl.isEditContact">
                <div class="row">
                    <div class="col-md-4">
                        <strong><i class="fa fa-phone margin-r-5"></i> Telephone</strong>
                        <p class="text-muted">
                            {{ctrl.contact.properties.phone.value}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-mobile-phone margin-r-5"></i> Mobile Phone</strong>
                        <p class="text-muted">
                            {{ctrl.contact.properties.mobile.value}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-envelope-o margin-r-5"></i> Email</strong>
                        <p class="text-muted">
                            {{ctrl.contact.properties.eMail.value}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-weixin margin-r-5"></i> WeChat</strong>
                        <p class="text-muted">
                            {{ctrl.contact.properties.weChat.value}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-qq margin-r-5"></i> QQ</strong>
                        <p class="text-muted">
                            {{ctrl.contact.properties.QQ.value}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-twitter margin-r-5"></i> Twitter</strong>
                        <p class="text-muted">
                            {{ctrl.contact.properties.tweet.value}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-linkedin margin-r-5"></i> LinkedIn</strong>
                        <p class="text-muted">
                            {{ctrl.contact.properties.linkedIn.value}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-facebook margin-r-5"></i> Facebook</strong>
                        <p class="text-muted">
                            {{ctrl.contact.properties.facebook.value}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fa fa-file-text-o margin-r-5"></i> Other Contact</strong>
                        <p class="text-muted">
                            {{ctrl.contact.properties.freeNote.value}}
                        </p>
                    </div>
                </div>
                <ul class="list-inline">
                    <li class="pull-right">
                        <button class="btn btn-box-tool" type="button" ng-click="ctrl.onContactEditing()"><i class="fa fa-pencil"></i> Edit</button>
                    </li>
                </ul>
            </div>
            
            <form class="form-horizontal" ng-if="ctrl.isEditContact">
                <div class="box-body" >
                    <div class="form-group">
                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Telephone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.contact.properties.phone.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Mobile Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.contact.properties.mobile.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.contact.properties.eMail.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> WeChat</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.contact.properties.weChat.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> QQ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.contact.properties.qQ.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Tweet</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.contact.properties.tweet.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> LinkedIn</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.contact.properties.linkedIn.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Facebook</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.contact.properties.facebook.value" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Other Contact</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="ctrl.contact.properties.freeNote.value" />
                        </div>
                    </div>
                    <ul class="list-inline">
                        <li class="pull-right">
                            <button class="btn btn-box-tool" type="button" ng-click="ctrl.saveContact()"><i class="fa fa-save"></i> Save</button>
                        </li>
                    </ul>
                </div>
            </form>
                <!-- /.box-body -->
</div>
        <!-- /.box -->

        <!-- Address Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-location-arrow margin-r-5"></i> Address</h3>
            </div>
            <div class="box-body" ng-if="!ctrl.isEditAddress">
                <div ng-class="row">
                    <div class="col-md-12" ng-repeat="addr in ctrl.addresses">
                        <strong><i class="fa fa-map-marker  margin-r-5"></i> Location</strong>
                        <p class="text-muted">
                            {{addr.properties.country.value}}
                            {{addr.properties.province.value}}
                            {{addr.properties.city.value}}
                            {{addr.properties.address.value}}
                            {{addr.properties.address1.value}} - {{addr.properties.postCode.value}}
                        </p>
                        <hr />
                    </div>
                </div>

                <ul class="list-inline">
                    <li class="pull-right">
                        <button class="btn btn-box-tool" type="button" ng-click="ctrl.onAddressEditing()"><i class="fa fa-pencil"></i> Edit</button>
                    </li>
                </ul>
            </div>
        
            <form class="form-horizontal" ng-if="ctrl.isEditAddress">
                <div class="box-body">
                    <div class="box box-warning" ng-repeat="addr in ctrl.addresses">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Country</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="addr.properties.country.value" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Province</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="addr.properties.province.value" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> City</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="addr.properties.city.value" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Street</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="addr.properties.address.value" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Address</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="addr.properties.address1.value" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2"><i class="fa fa-tag"></i> PostCode</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="addr.properties.postCode.value" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline">
                                <li class="pull-right">
                                    <button class="btn btn-box-tool" type="button" ng-click="ctrl.deleteAddress(addr)"><i class="fa fa-trash"></i> Delete</button>
                                </li>
                            </ul> 
                        </div>
                    </div>
                    
                    <ul class="list-inline">
                        <li class="pull-right">
                            <button class="btn btn-box-tool" type="button" ng-click="ctrl.onAddNewAddress()"><i class="fa fa-plus"></i> Add</button>
                            <button class="btn btn-box-tool" type="button" ng-click="ctrl.saveAddress()"><i class="fa fa-save"></i> Save</button>
                            <button class="btn btn-box-tool" type="button" ng-click="ctrl.cancelAddressEdit()"><i class="fa fa-close "></i> Cancel</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
            <!-- /.box -->

        <!-- Education -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-book margin-r-5"></i> Education</h3>
            </div>
            <div class="box-body" ng-if="!ctrl.isEditEducation">
                <div class="row">
                    <div class="col-md-12" ng-repeat="ed in ctrl.educations">
                        <p>
                            <span class="label label-success">{{ed.properties.school.value}}</span>
                            {{ed.properties.grade.value}}
                        </p>
                        <p class="text-muted">
                            {{ed.properties.enrollDate.value}} - {{ed.properties.exitDate.value}}
                        </p>
                        <p class="text-muted">
                            {{ed.properties.degree.value}}
                        </p>
                        <hr />
                    </div>
                </div>
                <ul class="list-inline">
                    <li class="pull-right">
                        <button class="btn btn-box-tool" type="button" ng-click="ctrl.onEducationEditing()"><i class="fa fa-pencil"></i> Edit</button>
                    </li>
                </ul>
            </div>

            <form class="form-horizontal" ng-if="ctrl.isEditEducation">
                <div class="box-body">
                    <div class="box box-warning" ng-repeat="edu in ctrl.educations">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> School</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="edu.properties.school.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Grade</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="edu.properties.grade.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Enroll Date</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control field-datepicker" ng-model="edu.properties.enrollDate.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Exit Date</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control field-datepicker" ng-model="edu.properties.exitDate.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Degree</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="edu.properties.degree.value" />
                                </div>
                            </div>

                            <ul class="list-inline">
                                <li class="pull-right">
                                    <button class="btn btn-box-tool" type="button" ng-click="ctrl.deleteEducation(edu)"><i class="fa fa-trash"></i> Delete</button>
                                </li>
                            </ul> 
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $(".field-datepicker").datepicker({
                                   autoclose : true
                                })
                            });
                        </script>
                    </div>
                    <ul class="list-inline">
                          <li class="pull-right">
                              <button class="btn btn-box-tool" type="button" ng-click="ctrl.onAddEducation()"><i class="fa fa-plus"></i> Add</button>
                              <button class="btn btn-box-tool" type="button" ng-click="ctrl.saveEductions()"><i class="fa fa-save"></i> Save</button>
                              <button class="btn btn-box-tool" type="button" ng-click="ctrl.cancelEducationsEdit()"><i class="fa fa-close "></i> Cancel</button>
                          </li>
                    </ul>
                </div>
            </form>
        </div>

        <!-- Skill Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-balance-scale margin-r-5"></i> Skills</h3>
            </div>
            <div class="box-body" ng-if="!ctrl.isEditSkills">
                <div class="row">
                    <div class="col-md-12" ng-repeat="skill in ctrl.skills">
                        <p><span class="label label-primary">{{skill.properties.skillName.value}}</span> {{skill.properties.skillDescription.value}}</p>
                    </div>
                </div>

                <ul class="list-inline">
                    <li class="pull-right">
                        <button class="btn btn-box-tool" type="button" ng-click="ctrl.onSkillEditing()"><i class="fa fa-pencil"></i> Edit</button>
                    </li>
                </ul>
            </div>
       
            <form class="form-horizontal"  ng-if="ctrl.isEditSkills">
                <div class="box-body">
                    <div class="box box-warning" ng-repeat="skill in ctrl.skills">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Skill Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="skill.properties.skillName.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Description</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="skill.properties.skillDescription.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Level</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="skill.properties.level.value" />
                                </div>
                            </div>
                            <ul class="list-inline">
                                <li class="pull-right">
                                    <button class="btn btn-box-tool" type="button" ng-click="ctrl.deleteSkill(skill)"><i class="fa fa-trash"></i> Delete</button>
                                </li>
                            </ul> 
                        </div>
                    </div>
                    <ul class="list-inline">
                       <li class="pull-right">
                           <button class="btn btn-box-tool" type="button" ng-click="ctrl.onAddSkill()"><i class="fa fa-plus"></i> Add</button>
                           <button class="btn btn-box-tool" type="button" ng-click="ctrl.saveSkills()"><i class="fa fa-save"></i> Save</button>
                           <button class="btn btn-box-tool" type="button" ng-click="ctrl.cancelSkillsEdit()"><i class="fa fa-close "></i> Cancel</button>
                        </li>
                    </ul>
                </div>
            </form>
         </div>

        
        <!-- /.Skill Box -->

        <!--Work Experience-->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-clock-o margin-r-5"></i> Work Experience</h3>
            </div>
            <div class="box-body" ng-if="!ctrl.isEditWorkExperiences">
                <div class="row">
                    <div class="col-md-12" ng-repeat="we in ctrl.workexperiences">
                        <p>
                            <a class="label label-success" href="{{we.properties.companyUrl.value}}">{{we.properties.company.value}}</a>
                            {{we.properties.jobTitle.value}}
                        </p>
                        <p class="text-muted">
                            {{we.properties.startDate.value}} - {{we.properties.endDate.value}}
                        </p>
                        <p class="text-muted">
                            {{we.properties.eventDescription.value}}
                        </p>
                        <hr />
                    </div>
                </div>

                <ul class="list-inline">
                    <li class="pull-right">
                        <button class="btn btn-box-tool" type="button" ng-click="ctrl.onWorkExperienceEditing()"><i class="fa fa-pencil"></i> Edit</button>
                    </li>
                </ul>
            </div>

            <form class="form-horizontal" ng-if="ctrl.isEditWorkExperiences">
                <div class="box-body">
                    <div class="box box-warning" ng-repeat="exp in ctrl.workexperiences">
                        <div class="box-body box-warning">
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Company</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="exp.properties.company.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Company Url</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="exp.properties.companyUrl.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Job Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="exp.properties.jobTitle.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Start Date</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control field-datepicker" ng-model="exp.properties.startDate.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> End Date</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control field-datepicker" ng-model="exp.properties.endDate.value" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"><i class="fa fa-tag"></i> Job Description</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="exp.properties.eventDescription.value" />
                                </div>
                            </div>
                            <ul class="list-inline">
                                <li class="pull-right">
                                    <button class="btn btn-box-tool" type="button" ng-click="ctrl.deleteWorkExperience(exp)"><i class="fa fa-trash"></i> Delete</button>
                                </li>
                            </ul> 
                        </div>

                        <script type="text/javascript">
                            $(function () {
                                $(".field-datepicker").datepicker({
                                   autoclose : true
                                })
                            });
                        </script>
                    </div>
                    <ul class="list-inline">
                        <li class="pull-right">
                            <button class="btn btn-box-tool" type="button" ng-click="ctrl.onAddWorkExperience()"><i class="fa fa-plus"></i> Add</button>
                            <button class="btn btn-box-tool" type="button" ng-click="ctrl.onSaveWorkExperiences()"><i class="fa fa-save"></i> Save</button>
                            <button class="btn btn-box-tool" type="button" ng-click="ctrl.cancelWorkExperiencesEdit()"><i class="fa fa-close "></i> Cancel</button>
                        </li>
                    </ul>
                   
                </div>
            </form>
        </div>
        <!--./Work experience box-->

    </div>
</div>
<script type="text/javascript">
    var CurrentLoginUserID = '@Model';
</script>
@section Scripts {
    @Scripts.Render("~/js/adminapp/userprofile")
}