################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FE.Creator/.vs
/FE.Creator/FE.Creator.ObjectRepository/obj/Debug/FE.Creator.ObjectRepository.csprojResolveAssemblyReference.cache
/FE.Creator/FE.Creator.Admin/App_Data
/FE.Creator/FE.Creator.Admin/bin
/FE.Creator/FE.Creator.Admin/bin
/FE.Creator/FE.Creator.FileStorage/bin/Debug
/FE.Creator/FE.Creator.FileStorage/obj/Debug
/FE.Creator/FE.Creator.Admin/obj/Debug
/FE.Creator/FE.Creator.ObjectRepository/obj/Debug
/FE.Creator/UpgradeLog2.htm
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
