################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FE.Creator/.vs
/FE.Creator/FE.Creator.ObjectRepository/obj/Debug/FE.Creator.ObjectRepository.csprojResolveAssemblyReference.cache
/FE.Creator/FE.Creator.Admin/App_Data
/FE.Creator/FE.Creator.Admin/bin
/FE.Creator/FE.Creator.Admin/bin
bin/
obj/
/FE.Creator/FE.Creator.FileStorage/bin/
/FE.Creator/FE.Creator.FileStorage/obj/
/FE.Creator/FE.Creator.Admin/obj/Debug
/FE.Creator/FE.Creator.ObjectRepository/obj/Debug
/FE.Creator/UpgradeLog2.htm
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.ObjectRepository/bin/Debug
/FE.Creator/FE.Creator.Admin/obj/Release/Package/PackageTmp/App_Data
/FE.Creator/FE.Creator.Admin/obj/Release/TransformWebConfig
/FE.Creator/FE.Creator.Admin/obj/Release/CSAutoParameterize.parameters.xml
*.cache
/FE.Creator/FE.Creator.Admin/obj/Release/FE.Creator.Admin.csproj.FileListAbsolute.txt
*.dll
*.pdb
/FE.Creator/FE.Creator.Admin/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FE.Creator/FE.Creator.Admin/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FE.Creator/FE.Creator.Admin/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FE.Creator/FE.Creator.Admin/obj/Release/_WPPLastBuildInfo.txt
/FE.Creator/FE.Creator.Admin/Properties/PublishProfiles
/FE.Creator/FE.Creator.Admin/obj/Release/InsertAdditionalCS
/FE.Creator/FE.Creator.FileStorage/obj/Release
/FE.Creator/FE.Creator.ObjectRepository/bin/Release
/FE.Creator/FE.Creator.ObjectRepository/obj/Release
/FE.Creator/FE.Creator.UT/obj
/FE.Creator/packages
/publish
/CodeMirror/
/FE.Creator/FE.Creator.Admin/obj/Release
/.metadata
/.recommenders
/thymeleaf-site-admin
/RemoteSystemsTempFiles
/spring-petclinic/
/hibernate-trail-native
/FE.Creator/FE.Creator.Cryptography/obj/Debug
/FE.Creator/FE.Creator.Admin/App_Start/bin
/FE.Creator/FE.Creator.Cryptography/bin/Debug
/FE.Creator/FE.Creator.Admin/logs
/FE.Creator/FE.Creator.Cryptography/bin/Release
/FE.Creator/FE.Creator.Cryptography/obj/Release
/FE.Creator/FE.Creator.FileStorage/bin/Release
/FE.Creator/FE.Creator.UT/bin/Release
/FE.Creator/FE.Creator.UT/bin/Debug
/FE.Creator/TestResults
/FE.Creator/FE.Creator.CipherMachine/bin
/FE.Creator/FE.Creator.CipherMachine/obj
/sampledocument/sampledocument/
*.user
/openejb
/xEditorPublish
/angular-bootstrap-lightbox-master
/lightbox2-master
/angular-bootstrap-lightbox-master.zip
/lightbox2-master.zip
