<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
    <input type="text" class="form-control" placeholder="Field Name" ng-model="fld.objectDefinitionFieldName">
</div>
<br />
<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key"></i></span>
    <input type="text" class="form-control" placeholder="Field Key" ng-model="fld.objectDefinitionFieldKey">
</div>