<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="grp in DefinitionGroups">
        <object-definition-group group="grp" on-delete="DeleteGroup(group)"></object-definition-group>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-green" ng-click="">
                <!-- Apply any bg-* class to to the icon to color it -->
                <span class="info-box-icon"><i class="fa fa-plus"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Add New</span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
 </div>