<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
    <input type="text" class="form-control" placeholder="Field Name" ng-model="fld.objectDefinitionFieldName">
</div>
<br />
<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key"></i></span>
    <input type="text" class="form-control" placeholder="Field Key" ng-model="fld.objectDefinitionFieldKey">
</div>
<div class="form-group">
    <label>Refered Object</label>
    <select class="form-control" ng-model="fld.referedObjectDefinitionID">
        <option ng-repeat="objdef in AvailableObjectDefinitions" value="{{def.objectDefinitionID}}" selected="{{$first}}">{{objdef.objectDefinitionName}}</option>
    </select>
</div>