@model FE.Creator.Admin.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box-body">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group has-feedback">
            <label for="Email">
                Enter your email
            </label>
            <input name="Email" id="Email" type="text" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block btn-flat">Send Email</button>
                </div>
            </div>
        </div>
    }
</div>