[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media screen{
    .bg-wrapper{
                background: url('/Content/apps/img/bgimage.jpg') no-repeat   center center fixed;
                background-size: 100% 100%;
                position: fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                width: 100%;
                height: 100%;
                margin:0;
                padding:0;
                top:0;
                z-index: -1;
        }

    .site-navpath{
        margin:0px 0px 10px 0px;
        padding:0px;
        background-color:transparent;
    }
    a.btn{
        color:#000;
    }
    .cursor-pointer{
        cursor:pointer;
    }
    .mailbox-attachment-info {
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .mailbox-attachments li:hover{
        border:1px #0094ff dashed;
    }
    .products-list .product-description{
       white-space:normal;
    }
    .products-list .book-thumbinal-img img{
        width:80px;
        height:80px;
    }
    .products-list .article-thumbinal-img img{
        width:150px;
        height:100px;
    }
    .article-tilte{
        font-size:18px;
    }
    .content-center{
        text-align:center;
    }
    .album-icon{
        font-size:128px;
        padding: 5px;
    }
    .image-card {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important; 
        text-align:center;
    }
    .image-wrapper{
        position:relative;
    }
    .image-wrapper img{
        width: 100%;
        image-orientation:from-image;
    }
    .image-card:hover{
       box-shadow: 0 2px 4px 0 rgba(41, 201, 205, 0.2), 0 2px 10px 0 rgba(41, 201, 205, 0.3) !important;
    }
    .image-card img{
        backface-visibility: hidden;
        cursor:pointer;
    }

    .image-info-container{padding:5px; text-overflow:ellipsis;}
    .image-desc{
        position: absolute;
        opacity:0;
        bottom: 0;
        left: 0;
        color:white;
        font-size:14px;
        width:100%;
        white-space:nowrap;
        padding: 5px;
        overflow-x:hidden;
        text-overflow:ellipsis;
        -moz-transition: all 0.5s ease-in-out; 
        -webkit-transition: all 0.5s ease-in-out; 
        -o-transition: all 0.5s ease-in-out; 
        -ms-transition: all 0.5s ease-in-out; 
        transition: all 0.5s ease-in-out; 
    }
    .image-wrapper:hover .image-desc{
       background:rgba(22,22,22, 0.6);
       opacity:1;
    }
    .image-selection{
        cursor:pointer;
    }
    .image-selection > div img{
        max-width :100%;
        height:  calc(100vw * (1/8));
        border-radius:20%;
    }
    .image-selected{
        opacity:0.3;
    }
    .carousel-inner > .item img{
        max-width :100%;
        height: calc(100vw * (9.0/16));
    }
    .carousel .prev-to-right{
        right:0;
    }

    .waterfall-wrapper {
	    width: 90%;
	    max-width: 100%;
	    margin: 5px auto;
    }
    .waterfall-columns {
	    -webkit-column-count: 1;
	    -webkit-column-gap: 10px;
	    -webkit-column-fill: auto;
	    -moz-column-count: 1;
	    -moz-column-gap: 10px;
	    -moz-column-fill: auto;
	    column-count: 1;
	    column-gap: 15px;
	    column-fill: auto;
    }
    .waterfall-item {
	    display: inline-block;
	    background: #FEFEFE;
	    border: 2px solid #FAFAFA;
	    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	    margin: 0 2px 15px;
	    -webkit-column-break-inside: avoid;
	    -moz-column-break-inside: avoid;
	    column-break-inside: avoid;
	    padding: 15px;
	    padding-bottom: 5px;
	    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	    opacity: 1;
	    -webkit-transition: all .2s ease;
	    -moz-transition: all .2s ease;
	    -o-transition: all .2s ease;
	    transition: all .2s ease;
    }
    .waterfall-item:hover{
        box-shadow: 0 1px 2px rgba(41, 201, 205, 0.4);
        cursor:pointer;
    }

    .waterfall-item:first-child {
      width: 100%;
    }

    .waterfall-item img {
	    width: 100%;
	    padding-bottom: 15px;
	    margin-bottom: 5px;
    }

    .waterfall-item p {
	    font: 12px/18px Arial, sans-serif;
	    color: #333;
        border-top: 1px solid #ccc;
        padding-top:5px;
	    margin: 0;
    }
    .dropdown-menu-weather > li{
        padding-left: 5px;
    }
    .dropdown-menu-weather li:hover{
        background-color:#f8f8f8;
    }
    li.tab-active{
        border-bottom:solid 3px #e08e0b;
    }
    .article-read-message{
        font-size:14px;
    }
    .article-tilte {
        color: #000;
    }
    .article-img {
        border-radius:5px;
    }
    .dashboard-report{
        width:100%;
        height:300px;
    }
   .theme-selector > .active-theme{
        border:dashed 3px green;
    }
    .theme-selector > li{
        border:dashed 3px #fff;
    }
}
@media print {
    title *{
        visibility:hidden;
    } 
    body * {
        visibility: hidden;
     }
     .printcontainer {
        background-color: white;
        top: 0;
        left: 0;
    }
     .printcontainer, .printcontainer * {
        visibility: visible;
     }
     .printcontainer button, .printcontainer button *{
         visibility:hidden;
     }
     .printcontainer .box-footer, printcontainer .box-footer *{
         visibility:hidden;
     }
}
@media (min-width: 960px) {
	.waterfall-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 1100px) {
	.waterfall-columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
    .printcontainer{
        padding: 0px 30px;
    }
}
