@Html.Partial("~/Views/AngularView/Client/Photos/ImageViewModal.cshtml")
<div class="waterfall-wrapper">
    <div class="waterfall-columns">
        <div class="waterfall-item" ng-repeat="img in ctrl.images">
            <img src="{{img.properties.imageFile.fileUrl}}?thumbinal=true" alt="{{img.objectName}}" title="{{img.objectName}}" ng-click="ctrl.viewLargeImage(img)" />
            <p ng-if="img.properties.imageDesc.value != null && img.properties.imageDesc.value!= ''">{{img.properties.imageDesc.value}}</p>
        </div>
    </div>
</div>