
@{
    ViewBag.Title = "Objects Management";
}
<div ng-app="ngObjectRepository">

    <div class="row"  ng-controller="GeneralObjectListController as ctrl">
        <div class="col-xs-12">
            <div class="box box-primary" ng-if="ctrl.viewMode=='list'">
                <div class="box-header">
                    <h3 class="box-title">Object List</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group" style="width: 300px;">
                            <ui-select ng-model="ctrl.currentObjectDefinition" ng-disabled="ctrl.disabled" style="min-width: 100px;" on-select="ctrl.onDefinitionChanged($item, $model)" title="Choose a person">
                                <ui-select-match placeholder="Select a Object Definition...">{{$select.selected.objectDefinitionName}}</ui-select-match>
                                <ui-select-choices group-by="ctrl.GetObjectDefinitionGroup" repeat="objdef in ctrl.ObjectDefintions">
                                    <div ng-bind-html="objdef.objectDefinitionName"></div>
                                    <small>
                                        {{objdef.objectDefinitionName}}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool" ng-click="ctrl.createObject()" ng-disabled="ctrl.disabledNewObject">
                                <i class="fa fa-plus text-green"></i>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="objfield in ctrl.currentObjectDefinition.objectFields | filter: {generalObjectDefinitionFiledType : 0 }">
                                    <a ng-click="ctrl.onColumnChange(objfield)"><i class="fa fa-plus" ng-if="!objfield.checked"></i><i class="fa fa-minus-square" ng-if="objfield.checked"></i> {{objfield.objectDefinitionFieldName}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-striped">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Object Name</th>
                                <th>Create Date</th>
                                <th ng-repeat="column in ctrl.displayedColumns">{{column.objectDefinitionFieldName}}</th>
                                <th>
                                </th>
                            </tr>
                            <tr ng-repeat="row in ctrl.ServiceObjectList">
                                <td>{{row.objectID}}</td>
                                <td>{{row.objectName}}</td>
                                <td>{{row.created}}</td>
                                <td ng-repeat="column in ctrl.displayedColumns">{{row.properties | objectValueFilter: column }}</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-success btn-flat btn-xs" ng-click="ctrl.viewObjectDetails(row.objectID)"><i class="fa fa-eye"></i> View</button>
                                        <button type="button" class="btn btn-primary btn-flat btn-xs" ng-click="ctrl.editObject(row.objectID)"><i class="fa fa-pencil"></i> Edit</button>
                                        <button type="button" class="btn btn-warning btn-flat btn-xs" ng-click="ctrl.deleteObject(row.objectID)"><i class="fa fa-minus-square"></i> Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin" ng-if="ctrl.pager.pages.length">
                        <li><a ng-click="ctrl.onPageClick(1)"  ng-class="{disabled: ctrl.pager.disabledFirstPage}">«</a></li>
                        <li ng-repeat="page in ctrl.pager.pages" ng-class="{active:ctrl.pager.currentPage === page}">
                            <a ng-click="ctrl.onPageClick(page)">{{page}}</a>
                        </li>
                        <li><a ng-click="ctrl.onPageClick(ctrl.pager.totalPages)" ng-class="{disabled:ctrl.pager.disabledLastPage}">»</a></li>
                    </ul>
                </div>
            </div>
            <div class="box" ng-if="ctrl.viewMode=='view'">
                @Html.Partial("~/Views/AngularView/Client/ObjectRepository/GeneralObjectDetails.cshtml")
            </div>
            <div class="box" ng-if="ctrl.viewMode=='edit'">
                @Html.Partial("~/Views/AngularView/Client/ObjectRepository/GeneralObjectEdit.cshtml")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/js/adminapp/generalobject")
}