@{
    ViewBag.Title = FE.Creator.Admin.lang.AppLang.DATA_CUST_TABLEGROUP;
}
<div ng-app="ngObjectRepository">
    <div ng-view></div>
</div>

@section Scripts {
    @Scripts.Render("~/js/adminapp/definitiongroup")
}