@{
    ViewBag.Title = "Object Definition Group";
}
<div ng-app="ngObjectRepository">
    <div ng-view></div>
</div>

@section Scripts {
    @Scripts.Render("~/js/adminapp/definitiongroup")
}